.site {
	display: grid;
	grid-template-columns: 1fr repeat(7, 2fr);
	grid-template-rows: 1fr 1fr repeat(40, 0.2fr);
	grid-template-areas:
		"title title title title title title title title"
		"sidebar sun mon tue wed thu fri sat"
		"sidebar sun mon tue wed thu fri sat"
		"sidebar sun mon tue wed thu fri sat"
		"sidebar sun mon tue wed thu fri sat"
		"sidebar sun mon tue wed thu fri sat"
		"sidebar sun mon tue wed thu fri sat"
		"sidebar sun mon tue wed thu fri sat"
		"sidebar sun mon tue wed thu fri sat"
		"footer footer footer footer footer footer footer footer"
}

.masthead {
	grid-area: masthead;
}

.page-title {
	grid-area: title;
}

.sunday {
	grid-area: sun;
}

.monday {
	grid-area: mon;
}

.tuesday {
	grid-area: tue;
}

.wednesday {
	grid-area: wed;
}

.thursday {
	grid-area: thu;
}

.friday {
	grid-area: fri;
}

.saturday {
	grid-area: sat;
}

.gutter {
	grid-area: gtr;
}

.main-content {
	grid-area: main;
}

.sidebar {
	grid-area: sidebar;
}

.footer-content {
	grid-area: footer;
}
