.site {
	display: grid;
	grid-template-columns: 1fr 0.2fr repeat(7, 2fr);
	grid-template-rows: 0.2fr 0.2fr repeat(40, 0.06fr);
	grid-template-areas:
		"title title title title title title title title title"
		"sidebar time sun mon tue wed thu fri sat"
		"sidebar time kvart-col1 mon tue wed thu fri sat"
		"sidebar time kvart mon tue wed thu fri sat"
		"sidebar time kvart mon tue wed thu fri sat"
		"sidebar time kvart mon tue wed thu fri sat"
		"sidebar time kvart mon tue wed thu fri sat"
		"footer footer footer footer footer footer footer footer footer"
}

.time {
	grid-area: time;
}

.masthead {
	grid-area: masthead;
}

.page-title {
	grid-area: title;
}

.kvart-col1 {
	grid-area: kvart-col1;
	background-color: #0265c0;
}

.sunday {
	grid-area: sun;
}

.monday {
	grid-area: mon;
}

.tuesday {
	grid-area: tue;
}

.wednesday {
	grid-area: wed;
}

.thursday {
	grid-area: thu;
}

.friday {
	grid-area: fri;
}

.saturday {
	grid-area: sat;
}

.gutter {
	grid-area: gtr;
}

.main-content {
	grid-area: main;
}

.sidebar {
	grid-area: sidebar;
}

.footer-content {
	grid-area: footer;
}
